# Proprietary data that I shouldn't share publically
*.csv
*.xlsx
*.pdf
*.std
*.stdf
*.atdf
*.log
*.txt
*.spec
*.exe

# Temp Files
*~

/.vscode
.idea
build
dist
llm/__pycache__
pystdf/__pycache__
src/__pycache__
.venv
